@font-face{
	font-family:"icons-turn-arrow";
	src:url("../../fonts/icons/icomoon.eot") format("embedded-opentype"),
	url("../../fonts/icons/icomoon.woff") format("woff"),
	url("../../fonts/icons/icomoon.ttf") format("truetype"),
	url("../../fonts/icons/icomoon.svg") format("svg")
}
*{
	margin: 0;
	padding: 0;
}
html,body{
	width:100%;
	height: 100%;
	background-color: #222;
}
#content{
	width: 100%;
	height: 100%;
}

/* stage -- start */
.stage{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* stage -- end */

/* image -- start */
.img-sec{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	perspective: 1800px;
	cursor: pointer;
}
.img-figure{
	.img-sec;
	position: absolute;
	width: 280px;
	height: 300px;
	padding: 20px 20px 40px;
	box-sizing: border-box;
	background-color: #fff;
	transition:all .6s ease-in-out;
	transform-style: preserve-3d;
	transform-origin: 0 50% 0;
}

.img-figure.is-inverse {
    transform: translate(260px) rotateY(180deg);
}
.imgBack{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px 20px 40px;
	box-sizing: border-box;
	transform: rotateY(180deg) translateZ(1px);
	background: #fff;
}
figcaption{
	text-align: center;
	background-color: #fff;
	.img-title{
		margin-top: 7px;
		color: #a7a0a2;
		font-size: 16px;
	}
}
/* image -- end */

/* controller --start  */
.controller-nav{
	position: absolute;
	left: 0;
	bottom: 30px;
	z-index: 101;
	width: 100%;
	text-align: center;
}
.controller-unit{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	text-align: center;
	cursor: pointer;
	background-color: #aaa;
	border-radius: 50%;
	transform:scale(.5);
	vertical-align: middle;
	transition: transform .6s ease-in-out,background-color .3s;
	&.is-center{
		transform:scale(1);
		background-color: #888;
		&::after{
			font-family:"icons-turn-arrow";
			content: "\e965";
			color: #fff;
			line-height:30px; 
			font-size: 80%;
			-webkit-font-smoothing:antialiased;
			-moz-font-smoothing:antialiased;
		}
		&.is-inverse{
			background-color: #555;
			transform:rotateY(180deg);
		};
	}
}
/* controller --end */